<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zatch">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    갤러리 사진 불러오기 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    위치 정보 권한 -> kakoMap-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<!--    -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zatch"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
<!--        kakao map-->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="636aa7f1b6a52dd8c64ef4de78b5f849"/>

<!--        임시 main-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        -->
<!--        <activity android:name=".SplashActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity android:name=".MainActivity" />-->
<!--        <activity android:name=".location.StartLocationActivity" />-->
        <activity android:name=".location.SetLocationActivity" />
        <activity android:name=".ImageSelectActivity" />
        <activity android:name=".location.MapViewActivity"/>
        <activity android:name=".MyZatchActivity" />
<!--        <activity android:name=".zatch_register.ZatchRegisterActivity" />-->
<!--        <activity android:name=".MainActivity" />-->
<!--        <activity android:name=".navigation.my_zatch.gatch_upload"/>-->
        <activity android:name=".navigation.my_zatch.gatch_upload2"/>
        <activity android:name=".navigation.my_zatch.my_gatch_detail"/>
        <activity android:name=".navigation.my_zatch.my_zatch_detail"/>
        <activity android:name=".search.SearchActivity" />
<!--        <activity android:name=".navigation.chat.ChattingRoomActivity" />-->
        <activity android:name=".navigation.main.NotificationActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao636aa7f1b6a52dd8c64ef4de78b5f849" />
            </intent-filter>
        </activity>
    </application>

</manifest>